[2017-08-14 23:24] asaumierdemers opened #2 "incompatible 'pipedbl' and 'pipedblbar'"
Generating gvar
WARNING: glyph pipedbl has incompatible masters; skipping
WARNING: glyph pipedblbar has incompatible masters; skipping

[2017-10-05 12:55] dberlow opened #3 "Berlow's checked out the sources"
I have downloaded the sources and am working on dissecting this family.

[2017-11-13 04:19] #3 closed, assigned to nobody

[2017-11-15 19:49] #2 closed, assigned to asaumierdemers

[2017-11-23 16:57] m4rc1e opened #4 "[Review] comparing ttf output from chain against RobotoTTF"
First things first, the quality of the chain and font work is fantastic. Building Roboto using the official buildchain takes a long time. I was super happy to see your chain produce the unhinted fonts in a tenth of the time.

For this review, I'm testing ttfs which have been built by running fontmake on your design space files with the following command:
[code]

Once the fonts were built, I've com

[2018-04-12 13:30] sberlow opened #6 "Delta Report"
Between RobotoVar and current instances

[2018-06-21 16:50] #6 closed, assigned to cjdunn, justvanrossum, asaumierdemers

[2018-06-27 15:49] m4rc1e opened #12 "[designspaces] weight axis values need to be mapped from 1-1000"
According to [Microsoft Weight Axis tag spec](https://docs.microsoft.com/en-us/typography/opentype/spec/dvaraxistag_wght)

We're inheriting the values from the [old build process](https://github.com/google/roboto/blob/master/scripts/build-v2.py#L87-L112) which have a range of -1-1.125

Unfortunately these values are not css friendly (font-weight is broke)

![screen shot 2018-06-27 at 16 19 05](htt

[2018-06-29 17:57] davelab6 opened #14 "Set this repo public"
I'd like to make this repo more widely available, now that it is wrapping up :)

[2018-06-29 17:57] davelab6 commented on #14
Thanks @sberlow

[2018-06-29 17:57] #14 closed

[2018-06-29 18:00] davelab6 commented on #12
@m4rc1e this will be resolved when #13 is merged, correct?

[2018-06-29 18:00] davelab6 commented on #4
I believe this review is now complete; @m4rc1e please close if so

[2018-06-29 18:04] m4rc1e commented on #12
Yes

[2018-06-29 18:37] #4 closed

[2018-07-06 08:27] #12 closed, assigned to nobody

[2018-07-06 09:06] m4rc1e opened #16 "Remaining steps needed for sign off"
I'm starting this thread so we can all agree on what needs to be done in order to release this family.

Personally, I think we have to do the following:

**Diff fonts created from both designspaces and keep Roboto-min.designspace if diffs are acceptable**
If both designspaces create fonts which are acceptable, we should keep just the Roboto-min.designspace. The other designspace creates a VF using

[2018-07-06 14:14] davelab6 commented on #16
On Fri, Jul 6, 2018, 3:07 AM Marc Foley <notifications@github.com> wrote:

I agree we should drop the first one and only have the -min one, if the
output of that is acceptable. I believe that's what you had been resting
and that it is.

Will you do this comparison, and will you remove the old unneeded files?

*Update project so no regressions occur when diffed against latest v2.138

Sounds good. W

[2018-07-09 11:36] m4rc1e commented on #16
Yep, It's minor.

I'm currently working on v2.138 compatibility, the report and GFR/diffenator so we can have something acceptable for Cosimo. I'll post when I'm done

[2018-07-09 19:38] davelab6 commented on #16
Sounds good, thanks!

[2018-07-12 13:29] m4rc1e opened #17 "Medium Condensed instance weight"
In #16 I promised to add the Condensed Medium instances.

I've done a quick test using the values found in the original build script, https://github.com/google/roboto/blob/master/scripts/build-v2.py#L141-L142.

We can see that the Roman and Condensed vals differ slightly (Roman=0.35, Condensed=0.4). Unfortunately the avar table is warping the 0.35 val to match the previous Medium. This is making t

[2018-07-16 21:22] cjdunn commented on #17
@davelab6 not sure, but I can look into it, will let you know if I find any better solutions

[2018-07-16 21:59] dberlow commented on #17
Not sure why an increase of a value to counteract an avar warp sounds hacky though?

If it takes us to the right instance, it’s just a value poking the right hole in the variable space.

On Jul 16, 2018, at 5:22 PM, CJ Dunn <notifications@github.com> wrote:

@davelab6 not sure, but I can look into it, will let you know if I find any better solutions

—
You are receiving this because you are subscr

[2018-07-20 16:08] davelab6 commented on #16
@m4rc1e whats the status of this? :)

[2018-07-20 16:09] davelab6 opened #20 "Stale branches & latest /fonts?"
It would be good for TN folks (@cjdunn?) to go over https://github.com/TypeNetwork/Roboto/branches and delete any branches that are merged and no longer needed.

Also, https://github.com/TypeNetwork/Roboto/tree/master/fonts hasn't been updated in a while, that might need updating?

[2018-07-20 16:11] m4rc1e commented on #16
We just need the medium instances.

@cjdunn did you attempt this? If not, I'll take a good stab at them on Monday.

[2018-07-20 16:58] cjdunn commented on #16
@m4rc1e I did not. Please let us know how it goes on Monday. And if you need anything on my end I'd be happy to help as well, thanks.

[2018-07-20 19:14] cjdunn commented on #20
@davelab6 at this point all relevant branches have been merged into master so all older branches have been deleted.

I have just made a temporary branch to add the latest fonts to the "fonts" folder, pull request is here:
https://github.com/TypeNetwork/Roboto/pull/21

Please feel free to merge and delete the branch (or let me know if you'd rather have me delete it), thanks.

[2018-07-21 16:48] davelab6 commented on #20
Perfect thank you

[2018-07-21 16:48] #20 closed

[2018-07-21 16:51] davelab6 commented on #17
Agree with @dberlow

@cjdunn looking forward to your thoughts :)

[2018-07-21 16:52] davelab6 commented on #17
Oh I see in the other issue open right now, https://github.com/TypeNetwork/Roboto/issues/16#issuecomment-406662278 , that Marc will attempt this on Monday and likely close both issues :)

[2018-07-23 11:42] m4rc1e commented on #17
Right, I've spent my morning on this and haven't been able to come up with anything. I added medium instances, set the vals but the visual output hasn't changed.

@cjdunn can you make an attempt at this?

[2018-07-23 13:49] cjdunn commented on #17
@davelab6 I also agree with @dberlow that if we can just change the values then that is ideal. If that doesn't work, we can adjust masters as needed.

@m4rc1e If this isn't working on your end I can give it a try today, thanks.

[2018-07-23 13:50] m4rc1e commented on #17
@cjdunn thanks! really appreciate it

[2018-07-23 13:53] davelab6 commented on #17
Super, thank you dj!

[2018-07-23 18:17] cjdunn commented on #17
I've updated the Roboto-min.designspace file. Pull request is here: https://github.com/TypeNetwork/Roboto/pull/22

[2018-07-31 03:16] davelab6 commented on #17
Closing as #22 is merged

[2018-07-31 03:16] #17 closed

[2018-07-31 03:16] davelab6 commented on #16
Those are now added with #22 being merged.

So, what's next?

[2018-07-31 08:12] m4rc1e commented on #16
• tidy up repo (rename Roboto-min.designspace to Roboto.designspace)
• bump version to v3.000

I'd like to cut a v3.100 version at some point later this year. That's when I'll combine this repo with the original. How does that sound?

[2018-07-31 15:10] davelab6 commented on #16
Perfect

[2018-08-13 00:35] davelab6 commented on #16
Who will do this, and when?

[2018-10-16 00:24] davelab6 opened #24 "Change Weight axis range from 250-900 to 100-900"
Currently the Weight axis values in `fvar` do not go down to 100, as expected for CSS, but have carried over the legacy OS/2 table values which went down to 250 as a workaround for Windows auto-bolding of values of 249 and below.

Today:

[code]
What I expect:

[code]

[2018-10-16 00:33] davelab6 opened #25 "Request for "Roboto 1984" family"
Oh, legacy systems. I'm going to double check we really need this, but it looks like we do, so I'm filing this issue to flag that its coming up on the roadmap as a possible delivery milestone....

Sadly some systems are stuck with the 'unholy quad-lets' families, introduced in the 80s with PostScript DeskTop Publishing, where families had only "RIBBI" styles: Regular, Bold, Italic, Bold Italic.

S

[2018-10-16 00:40] davelab6 opened #26 "Request for "cleaned up corners of the design space""
The new 'condensed' named styles, that are newly available in the VF and were not available as static fonts, therefore look different on Android, as you could always request these styles but since they weren't available, the nearest style was used in place.

E.g. 'Condensed 100' appears to get a lot thinner now, whereas before it was identical to 'Condensed 200' and 'Condensed 300':

<img width="4

[2018-10-16 05:11] m4rc1e commented on #16
Yep. It has the same amount of glyphs.

[2018-10-17 12:35] dberlow commented on #26
They all look pretty grey to me;)

[2018-11-01 14:59] davelab6 commented on #16
Just FYI, Jill pointed out that some unencoded glyph names for the same glyph shape differ across styles in the pre-VF fonts, and that's been normalized.

[2018-12-03 05:19] davelab6 commented on #24
@paleydreier please schedule this :)

[2018-12-03 05:21] davelab6 commented on #26
Currenly this is out of scope.

[2018-12-03 17:02] paleydreier commented on #24
cc @sannorozco @pichotta

[2018-12-04 16:20] dberlow commented on #24
Well, fvar are you wish, but...
Having the wght min at 250’s not such a bad thing because it’s not that light.

On Oct 15, 2018, at 8:24 PM, Dave Crossland <notifications@github.com> wrote:

Currently the Weight axis values in fvar do not go down to 100, as expected for CSS, but have carried over the legacy OS/2 table values which went down to 250 as a workaround for Windows auto-bolding of values

[2018-12-06 00:06] sannorozco commented on #24
Now both VFs have corrected fvar tables:

—Roboto-VF.ttf
—Roboto-min-VF.ttf

[2019-01-04 21:06] davelab6 commented on #24
I see in https://github.com/TypeNetwork/Roboto/commit/47598f229c77f87ecfc2e3767a6e2402e92f7c71 you did update only the Roboto-min-VF.ttf

Please check in Roboto-VF.ttf and the sources :)

[2019-01-08 18:43] sannorozco commented on #24
Yes, only Roboto-min-VF.ttf needed to update far with these values, I checked again and far on both VFs seems good. Made a small update in min.designspace.

[2019-01-09 16:01] davelab6 commented on #26
I would like to propose quickly dealing with the bad looking width min weight min and max by duplicating the good looking instances as corner masters, so that at the width min the weight axis range is effectively shorter, and in the above image will make the result on the left the same as the right.

[2019-01-09 18:16] dberlow commented on #26
I’m just finishing wdth Max wght Max this afternoon. Wght Max wdth min will be done tomorrow?

[2019-01-09 18:57] davelab6 commented on #26
This is Roboto Classic, not Extremo

[2019-01-09 20:49] dberlow commented on #26
Sry nvrmnd

On Jan 9, 2019, at 2:57 PM, Dave Crossland <notifications@github.com> wrote:

This is Roboto Classic, not Extremo
—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-01-11 15:31] sannorozco commented on #26
Yes, we will run some extrapolation tests on Classic Cond.

[2019-01-12 07:13] dberlow commented on #26
Please double check. The job relates only to “classic”, is not to do any interpolation at all, or to fix contours.

The job is to relocate an existing instance in another location, thus eliminating the undesirable extrapolation and that is all.

Clear?

Thanks.

On Jan 11, 2019, at 10:31 AM, Santiago Orozco <notifications@github.com> wrote:

Yes, we will run some extrapolation tests on Classic Con

[2019-01-28 11:34] dberlow commented on #26
Santiago,

Here is one cleaned-up Roboto-Classic corner to make sure of one corner first.

I modified diagonals in both cases, S, s and all related glyphs.

Please add to make new Variable fonts and point that font to Dave C.

Let me know if ?

Thanks.

[RobotoCondensed-Thin-V2DB.ufo.zip](https://github.com/TypeNetwork/Roboto/files/2802719/RobotoCondensed-Thin-V2DB.ufo.zip)

[2019-01-28 11:34] #26 closed

[2019-02-03 13:39] dberlow opened #27 "Roboto Bold Condensed"
I've fixed the most obvious, to me, characters and their relatives throughout the Roboto Bold Condensed style.

The definition of fixing is relative.

There are a number of issues related to:
  digitization, (as in there are not the right points to fix what's wrong),
  contour structure, (like the glyphs have overlaps that don't help with some problems),
  and the presence of pressure on width and

[2019-02-03 13:43] dberlow opened #28 "RobotoClassic Uni1D97"
This one glyph needs looking onto.

<img width="445" alt="uni1d97" src="https://user-images.githubusercontent.com/1956494/52177505-a5624c00-278f-11e9-92de-d9febc6e2144.png">

[2019-09-24 11:24] dberlow opened #29 "Hinting"
Goal is to get the hints of Roboto-Regular.ttf onto RobotoClassic.vf, ie, match the regular of a variable font to the regular of the family’s hinted TrueType font, and then expand the hinting to work on all the styles in the new variable font’s design space, Which includes all of the hinted truetype fonts of the original family. Backward concern for rendered compatibility to whatever degree it can

[2019-09-25 14:53] dberlow commented on #29
While posting this, I guess we’re also waiting for Mark Foley’s process to be documented and provided to us for the beginning of the weights project.

[2019-09-26 08:53] m4rc1e commented on #29
@dberlow I have our process outlined in the following [doc](https://docs.google.com/document/d/1nAWEcbrhWRn-mZixiWavMSC85ndT4b07OLVImWOs6ok/edit). I don't have your email address so please request access and I will share it with you.

I'm also having a hangout with @djrrb @cjdunn and Jill on Friday where I will demonstrate the workflow and our current tooling.

[2019-09-26 09:22] dberlow commented on #29
Thanks Mark!
   dberlow@fontbureau.com

[2019-10-07 15:57] davelab6 opened #30 "Glyph Set Analysis for Extremo'ization"
These fonts have some 3,500 glyphs; not all of them make sense to become part of Extremo. Please make a Google Sheet that explains which glyphs should have which axes :)

[2019-10-08 20:53] dberlow opened #31 "New ttf autohinted Roboto classic vf"
CJ,

I’d like as a first step, to see if the new version of ttfautohint can run on the sources of Roboto.vf, for comparison to the original hinted instances.

This is on urgent request from client, so i’m copying Paley so they can price this, step-by-step.

Thanks.

[2019-10-09 18:56] cjdunn commented on #31
@dberlow OK sounds good, I'll take a look

[2019-10-09 20:05] dberlow commented on #31
I think we’re going to need to get pictures to show people

On Oct 9, 2019, at 2:56 PM, CJ Dunn <notifications@github.com> wrote:

@dberlow OK sounds good, I'll take a look

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-10-09 21:15] dberlow opened #32 "Step 1 Hinting Roboto.vf"
DC,

There are two versions of the Roboto (Classic) variable fonts.
   Roboto-min-VF.ttf is the smaller file, containing the default, thin and black of regular and italic
   Roboto-VF.ttf is a larger to contain the legacy instances, either as a master or an intermediate.

Right now, ttfautohint only runs on the smaller file, on the  (Roboto-min-VF.ttf), and stops without a message on Roboto-VF.ttf

[2019-10-09 23:17] cjdunn commented on #31
Here are the screenshots (attached) for both VF and static fonts, shown in Android/Chrome and on Win10/Chrome and Win10/Edge

[Roboto_vf_test_2019-10-09.zip](https://github.com/TypeNetwork/Roboto/files/3709599/Roboto_vf_test_2019-10-09.zip)

[Roboto_static_test_2019-10-09.zip](https://github.com/TypeNetwork/Roboto/files/3709600/Roboto_static_test_2019-10-09.zip)

[2019-10-11 13:15] dberlow commented on #32
A slideshow presenting the hinted results:
https://docs.google.com/presentation/d/19Ll9yhvgguiNdWKGh7NJNnhP6AgajCBC7MhurHu-AbQ/edit?usp=sharing

[2019-10-11 14:26] dberlow commented on #32
CJ,

I was told that this was being hunted with the latest version of Ttfautohint.

Dave is saying that it’s an old version that was used.

Please,clarify.

Thanks.

[2019-10-11 14:29] m4rc1e commented on #32
@dberlow The person working on ttfautohint for vfs has made many improvements to it since I last built it. I haven't had the time to build his newest version yet.

[2019-10-11 14:30] cjdunn commented on #32
@dberlow It was made using the latest build from @m4rc1e but there are apparently new improvements being made, which haven't been built into a new binary yet

[2019-10-11 14:57] dberlow commented on #32
Thanks for clarifying.

As I understand it with CJ, he’ll let me know when there is a new build for our use in rehinting Roboto-min, which is the one Dave has indicated as the target.

In the mean time, that “min” vf we hinted with the current version of ttfautohint is available.

On Oct 11, 2019, at 10:29 AM, Marc Foley <notifications@github.com> wrote:

@dberlow The person working on ttfautohint

[2019-11-03 05:07] davelab6 commented on #24
@sannorozco @dberlow can this issue be closed?

[2019-11-03 13:32] #24 closed

[2019-11-03 17:38] davelab6 commented on #32
@cjdunn were you able to build https://gitlab.com/ewaldhew/tah-vf from source?

[2019-11-03 17:40] davelab6 commented on #30
@pichotta did you develop such a sheet? :)

[2019-11-03 23:55] davelab6 commented on #29
A critical goal is to keep filesize minimal.

[2019-11-04 16:07] cjdunn commented on #32
@davelab6 I've never built ttfautohint-vf from source before. Marc said he'd be building it so I have focused on other priorities. I previously emailed Ewald about the process and told me the steps he uses, but also recommended that I wait for Marc's build because he couldn't guarantee the steps he uses would work on my machine

[2019-12-30 14:55] davelab6 opened #33 "Hinting: Replace PDF file containing plain text with text file"
[`Roboto Min HO no VTT TALK.pdf`](https://github.com/TypeNetwork/Roboto/blob/003fbbfd60143199d6016d401b603b18869f5cb5/Hint%20tests/MD%20Hints/Roboto%20Min%20HO%20no%20VTT%20TALK.pdf) is a plain text file, included as a PDF.

Please replace this PDF with a text file.

[2019-12-30 14:59] davelab6 opened #34 "Hinting: Show static/unhinted-var/hinted-var, use GF hint comparison tools"
[HeightCompat.png](https://github.com/TypeNetwork/Roboto/blob/003fbbfd60143199d6016d401b603b18869f5cb5/Hint%20tests/MD%20Hints/HeightCompat.png) is just one 2-up comparison of the released hinted static fonts and a new beta hinted variable font.

Please provide 3-up comparisons, with the released hinted static fonts, the beta unhinted variable fonts, and new beta hinted variable fonts; and please

[2020-01-03 15:21] dberlow opened #35 "Hint compatibility texting issues"
A. FB to provide 3-up comparisons of:
1. the released hinted static fonts, the beta
2. unhinted variable fonts, and
3. new beta hinted variable fonts;

B. Need link to "diffbrowsers" tool.>>>

C. proofs must be provided as pages layed out to be toggled between, in addition to side-by-side compares.

[2020-01-06 14:11] dberlow opened #36 "table of contents to vtt xml file"
https://github.com/googlefonts/roboto-3-classic/blob/a80a56de7e7027a8ec2148f0f5f6e1819b7fba12/Hinted%20VTT/MD%20Hints/Docs/ExportedCompatRoboto-min-VF.xml

Contains the following:
Font program line 3 to 5309
Pre program line 5315 to 5529
Control program line 5533 to 5852

Glyph programs start at line 5858

[2020-01-07 15:46] mikedug opened #37 "updated CVT information"
have updated the pdf to include ascender and descender information
Roboto/Hinted VTT/MD Hints/Docs/VTT Roboto CVT information.pdf

[2020-01-08 14:19] dberlow opened #38 "Iteration to compatibility"
Hey Mark,

Mike Duggan has joined with Font Bureau as a subcontractor to work on compatible output between Roboto VF and the Roboto TTF instances, and optimization of the VF’s size in whatever ways are possible.

Mike has produced his first and second hinted candidate vf, and we’d like to begin iterating, using the test software and formats you use, to take that over ourselves until we iterate to

[2020-01-08 14:22] dberlow opened #39 "Optimizing preprogram"
Mike I noticed while I was separating out the XML of the hints that there are an awful lot of function definitions in the pre-program. I’m wondering if we can easily establish which ones are required by searching the text of the glyph hints, or if you know what’s actual being used, let me know if that’s worth optimizing.

Thanks.

[2020-01-08 14:34] mikedug commented on #39
David, I would be very nervous of reducing the function definitions, as I do not have a clear idea, which are needed. Unless this is a big file size saving, and something that is absolutely required, I would recommend leaving as is.
thanks
mike

[2020-01-08 14:39] dberlow commented on #39
Hey Mike, I don’t suggest this calmly, or in any hurry. I’m just interested in the possibilities as we gather up ways to optimize file size.

[2020-01-08 14:43] mikedug commented on #39
sure, I can have a look at this.

I get nervous about removing FN Definitions, the Autohinter is a beast, many functions, I believe rely on or somehow reference others.

we can chat about this as we go along.

mike

[2020-01-09 13:29] dberlow opened #40 "widths off by 1 upm"
We notice as we're trying to match output of the newly hinted Roboto vf, that 100's of glyph widths of:
github.com/TypeNetwork/Roboto/blob/master/Hinted%20VTT/MD%20Hints/Sources/Roboto%20Hinted%20Instances/Roboto-Regular.ttf

...that's the original Roboto-Regular.ttf ...don't match, by 1 em unit, the width of the Regular (and default style) of:

github.com/TypeNetwork/Roboto/tree/master/master_ufo

[2020-01-09 13:44] m4rc1e commented on #40
It's going to be impossible to get a 100% perfect match.

Chrome on Windows uses FreeType to render VFs whilst for static fonts it uses DirectWrite.

Before we commit to hinting everything in VTT, it may be best to hint a small sample of glyphs such as "EONASX adhesion $123" and compare this against the version of Roboto we currently serve on Google Fonts.

[2020-01-09 20:39] dberlow commented on #40
Hey Mark,

The whole font is hinted with vtt here; github.com/TypeNetwork/Roboto/blob/master/Hinted%20VTT/MD%20Hints/Fonts/CompatRoboto-min-VF-ship.ttf

We think it’s best to have identical metrics, to the unit per em, but if differences arise because of that we can ignore them?

Cheers,

David

﻿
It's going to be impossible to get a 100% perfect match.

Chrome on Windows uses FreeType to render V

[2020-01-14 15:33] dberlow commented on #40
We have replaced the previous version with the new version that has 100% compatible widths.

Mike I think that you can now transfer the hinting you’ve done over to the new version?

[2020-01-14 15:34] #40 closed

[2020-01-14 17:50] mikedug opened #41 "Width Compatible Roboto VF / Update Roboto-min-VF —With fixed 1UPM diffs from Roboto-Regular hinted instance"
Hi Santiago , David

I tried exporting the hinting via xml export, from my own hinted VTT font, and importing into the new width compatible font that was posted on GITHUB, by Santiago

When I compile VTT reports errors on the following glyphs id’s.  (1118,1347,1348)

I get the same errors if I just try run the Autohinter again on the new Width compatible font

ERROR MESSAGE *Glyf Pgm, glyph 1118 (

[2020-01-14 22:47] sannorozco commented on #41
Updated Roboto-min-VF
—with decomposed endash, lessequal, greaterequal on all masters

[2020-01-14 22:47] #41 closed

[2020-02-10 09:42] m4rc1e commented on #38
I've just compared the font in this [dir](https://github.com/TypeNetwork/Roboto/tree/master/Hinted%20VTT/MD%20Hints/Fonts), against the [original hinted v2.136 statics](https://github.com/google/roboto/releases/tag/v2.136).

- Remove MVAR table
- fvar coordinates for wght axis are incorrect. All instance should have values which are multiples of 100.
- hhea.ascent should be 1900, hhea.descent shou

[2020-02-10 11:27] m4rc1e commented on #38
Jumps only occur past 20pt. I think this is acceptable. There are other very small changes such as the counters of the "B" or crossbars of certain letters may be at a different heights. Overall, they are improvements.

Diffs are also very clean so I'm pretty happy. The overall quality is higher than Oswald which is our most popular VF so I'm pretty optimistic.

The only issue I've noticed is that

[2020-02-11 13:46] dberlow opened #42 "MVAR table removal"
Because Roboto Classic has no changes to the vertical alignments, the MVAR table may be deleted.

Can this be don't in Fonttools or what?

[2020-02-11 14:47] dberlow opened #43 "fvar coordinates for wght incorrect"
Hey Mark,

We need double-check what you mean.

"	fvar coordinates for wght axis are incorrect. All instance should have values which are multiples of 100. "

All the defined instances have multiples of 100 for values. Thin is 100, light 200 etc.

For all instances of wght axis to have values that are multiples of 100,
  a. we would have to add data to the avar to make the wght axis skip from 100

[2020-02-11 14:49] dberlow opened #44 "hhea.ascent correction"
hhea.ascent should be 1900, hhea.descent should be -500.
We've got hhea.acent 1638 and hhea.descent -512.

Santiago, I think this requires an edit to robofont's /Font info/dimensions/opentype/ ?

Let me know.

[2020-02-11 14:55] m4rc1e commented on #43
Hey David,

Unfortunately some of the Condensed instances do not have wght values which are multiples of 100.

[code]
_Font from: https://github.com/TypeNetwork/Roboto/tree/master/Hinted%20VTT/MD%20Hints/Fonts_

For instance, I would expect the Medium to be 500 and the Bold to be 700.

The normal widths are fine though.

Since the wght values are mapped to css `font-weight` this will cause problem

[2020-02-11 15:07] dberlow opened #45 "Roboto-min next hinted build"
After #42 and #44 are corrected, and we get a better idea of what’s needed for #43, there will be another build.

While this is going on, Mike is making sure the optimizations to crossbars and other details are performed on small caps and other target glyphs, and researching possible file size optimization.

Marc has also requested a build chain for this project of similar quality to the original

[2020-02-11 15:29] dberlow commented on #43
Oh my, Thanks.

Santiago, the design space file needs changes to the wght values of:
Italic and Condensed,
   Mediums must be 500
   Bolds must be 700
Let me know thanks,
David

[2020-02-11 23:12] sannorozco commented on #44
Updated.

[2020-02-11 23:12] #44 closed

[2020-02-11 23:12] sannorozco commented on #43
Updated fvar locations.

[2020-02-11 23:12] #43 closed

[2020-02-11 23:13] sannorozco commented on #42
Updated VF without MVAR.

[2020-02-11 23:13] #42 closed

[2020-02-11 23:14] sannorozco commented on #45
Updat6ed new build, with fixes #42 #43 #44

[2020-02-12 10:06] davelab6 commented on #45
Sounds great, thanks DB and thanks Santiago for smashing through those 3 issues

[2020-02-12 10:45] dberlow commented on #42
Which tool was  used?
Thanks

﻿
Closed #42.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-02-12 12:03] dberlow commented on #45
Mike,

https://github.com/TypeNetwork/Roboto/blob/master/fonts/Roboto-min-VF.ttf

..has the new unhinted version we are looking to merge your hints into.

Let me know if there's any issues.

[2020-02-12 12:37] mikedug commented on #45
hints are now merged, VTT sources and ship font updated.

[2020-02-12 12:46] m4rc1e commented on #45
Can we start to think about how we're going to do this hint transfer automatically? we cannot have Mike manually transferring the hints every time we make an update.

DaMa has [vttLib](https://github.com/daltonmaag/vttLib) which we may want to use.

[2020-02-12 12:55] dberlow commented on #45
Marc,

Thanks for your concern. We have thinking about automation every time we do anything on this project since the issue was first raised.

Thanks for the link to the vtt lib model. I’m traveling today to New York to visit Google and have a conference call later on this topic with Santiago and Mike.

Cheers
David

﻿
Can we start to think about how we're going to do this hint transfer automatica

[2020-02-12 16:17] sannorozco commented on #42
Removed MVAR with ttx,
Added atomated ttx remove MVAR each build to sh build script.

[2020-02-12 16:19] sannorozco commented on #45
Hallo Marc,

Added atomated ttx remove MVAR each build to sh build script.

[2020-02-25 19:32] davelab6 opened #46 "File size diet? :)"
I wonder if there are any opportunities for file size reduction by better use of components, ccmp diacritic glyph construction, etc?

[2020-02-25 20:18] mikedug commented on #46
hi Dave is this question related to Roboto only? Most glyphs that can be made as composites are made as so in Roboto.

[2020-02-25 21:08] dberlow commented on #46
That is so. All of the floating diacritics are composites. There are no flipped ones I can see From looking at the composites in my inspector.

Glyphs like Ø , H-Bar, D and L w/bar, [Probably 20 glyphs] could be redone from whole additional contours to the source glyph’s contour with the addition of new glyphs for bars and the compositing code. I.e. a separate bar composites to an O, smaller than

[2020-02-25 22:26] davelab6 commented on #46
It would be good to ship the fonts and then ship an update with a smaller file size in the following quarter.

[2020-02-26 10:02] dberlow commented on #46
A survey of the target glyphs (red).

And a couple of alts I think we're adding to Extremo (green).

<img width="785" alt="Compositables of Classic" src="https://user-images.githubusercontent.com/1956494/75333997-1a9a3680-5855-11ea-8433-dc0bf71c2e91.png">

[2020-02-26 10:05] dberlow commented on #46
The plan then is for Mike to finish and deliver a version of Classic.vf by the 6th of March. By Mid-march, we'll have a new source with additional composites and then, as schedule permits, or is required, Mike will produce a new hinted version that same as delivered but with these (27) red glyphs composited.

[2020-02-26 14:06] brawer commented on #46
Doesn’t HarfBuzz fall back to Unicode Normalization Form D (NFD) when an input code point is missing from the font’s `cmap` table? For example, when a font doesn’t contain Ä as `U+00C4` (Latin Capital Letter A with Diaeresis), I believe HarfBuzz will re-try shaping `U+0041 U+0308` (Latin Capital Letter A + Combining Diaeresis). So, if my memory of HarfBuzz is true, and if the font is correctly han

[2020-02-26 14:47] dberlow commented on #46
Doesn’t apply, Far as I can see

[2020-02-26 17:08] dberlow opened #47 "Contour direction issue"
![2D75CB7E-F670-47F7-8308-62FA357E4BCB](https://user-images.githubusercontent.com/1956494/75368939-86e65b80-5890-11ea-9830-976d90645eba.png)
Contour direction issue, please correct and reproduce vf.

[2020-02-26 21:39] davelab6 commented on #46
I think there is definitely something fishy going on here :)

In a cosmic coincidence, earlier this month I'd (a) learned that fontmake or at least vttLib doesn't build fonts that use flipped composites, and (b) requested a "Global Latin" glyph set definition from @moyogo ([gftools/pull/177](https://github.com/googlefonts/gftools/pull/177/files)) to better define support for African languages that

[2020-02-26 21:55] rsheeter commented on #46
To give a specific example, if I subset to a, b, combining grave, combining accent I expected to see the combinations with grave/accent done by layout but Roboto does some via actual glyphs.

[code]

[2020-02-26 22:08] dberlow commented on #46
I see now. This should work with Roboto, and its single set of combining accents, without a problem. As long as the optical centers of glyphs and diacritics are aligned and no glyph-specific horizontal or vertical refinements are required. I think that’s the way it’s always been, but perhaps type designers have not trusted the quality compared to refined glyph construction.

So do we have refined

[2020-02-26 22:21] rsheeter commented on #46
To give a little more context, if I compare subsetting to [latin](https://github.com/googlefonts/gftools/blob/master/Lib/gftools/encodings/latin_unique-glyphs.nam) with/without the six added codepoints for Yoruba (aside: actually only 4 are for Yoruba) the size delta for Roboto is way out of line with the rest of our library.

+6 codepoints in latin for Open Sans adds 4 gids (230 => 234) and incre

[2020-02-27 01:44] sannorozco commented on #47
Fixed and updated VF.

[2020-02-27 01:44] #47 closed

[2020-02-27 07:10] brawer commented on #46
Does Roboto perhaps implement combining characters with `GSUB`, as in `sub a acutecomb by aacute`? Then, ttx will not remove the `aacute` glyph from the font (which is correct, since the composed glyph might look different); that would explain the `gid7` and `gid8` in the output [above](https://github.com/TypeNetwork/Roboto/issues/46#issuecomment-591664340). Instead, try writing your substitution

[2020-02-27 13:53] dberlow commented on #46
﻿
﻿
As far as I know, Roboto as delivered can go either way. We use an open source tool called Glyph Builder, by Ben Kiel I think, that synthesizes precomposed characters for the purpose of serving everyone.  You may serve it to any system and it’ll work. Or you may subset it, removing all the composed accents, and serve it to have HarfBuzz’s fall back generate missing glyphs.

Santiago and I will

[2020-02-27 15:48] davelab6 commented on #46
I see https://benkiel.com/typeDesign/ has `buildAccents.py` for FontLab 5 as a source-based accent builder, and https://robofont.com/documentation/how-tos/building-accented-glyphs/ suggests this is nowadays replaced with https://github.com/typemytype/glyphconstruction for folks like you using RoboFont.

[2020-02-27 15:59] sannorozco commented on #46
Yes, the later is what we use!

[2020-02-27 16:46] dberlow commented on #46
We are going through the steps of undoing the error we inherited on this.

﻿
I see https://benkiel.com/typeDesign/ has buildAccents.py for FontLab 5 as a source-based accent builder, and https://robofont.com/documentation/how-tos/building-accented-glyphs/ suggests this is nowadays replaced with https://github.com/typemytype/glyphconstruction for folks like you using RoboFont.

—
You are receiving

[2020-02-27 17:20] khaledhosny commented on #46
Yes, but many applications (most actually) will check the `ccmp` table to decide whether or not to use a fallback font, before shaping with HarfBuzz. Chrome (and to some extent LibreOffice) is the only exception as it shapes first then uses fallback font for unsupported characters.

[2020-02-27 17:50] brawer commented on #46
Very curious about the actual space savings on a large font like Roboto, especially in WOFF format. If the improvement was huge, it might be worth building subsetted fonts for certain environments (eg. Google Fonts, which afaik can support browser-specific fonts); a large size difference might also be a reason for other browsers and apps to implement the same fallback logic like Chrome or LibreOff

[2020-02-29 00:29] sannorozco opened #48 "File size diet test: issue with features, groups, kerning"
**Features**
Roboto has a [lot of opentype features](https://github.com/TypeNetwork/Roboto/blob/harfbuzz-test/master_ufo/features.fea), so how will these be updated on the fly? This is a big one, since features needs to be compiled for each master, and I’m not sure if HarfBuzz can add the new rendered glyphs to its features?

**Groups & Kerning**
If say, /Aacute is rendered, how it will be added t

[2020-02-29 00:29] sannorozco opened #49 "File size diet test: remove latin composite glyphs"
Hallo everyone,

In testing this we’ve encountered some issues, but first here’s what’s been done:

There’s a new branch now: _harfbuzz-test_, where for all masters the following glyphs were removed, also updated component references, groups, kerning pairs:

`Agrave Aacute Acircumflex Atilde Adieresis Aring Ccedilla Egrave Eacute Ecircumflex Edieresis Igrave Iacute Icircumflex Idieresis Ntilde Ogr

[2020-02-29 00:33] sannorozco commented on #46
Hallo,

I broke our findings in two issues #49 & #48

[2020-02-29 00:49] khaledhosny commented on #48
Harfbuzz will decompose the Unicode character for /Aacute into two glyphs /A and /acutecomb, so kerning and other OpenType features for /A will apply (some lookups will need IgnoreMarks lookup flag for this to work).

HarfBuzz does not create new glyphs, it will be basically essentially as if the input was /A/acutecomb.

The tricky part is when there are OpenType feature specific to the composite

[2020-02-29 09:45] brawer commented on #48
@sannorozco, OpenType has a [lookupflag](http://adobe-type-tools.github.io/afdko/OpenTypeFeatureFileSpecification.html#4.d) which might come in handy here, especially if you want to keep your `GPOS` tables small.

[2020-02-29 11:45] brawer commented on #49
Re. (4), yes, you should be able to do it by Unicode. In total, there’s abut 13K precomposed characters in Unicode but I don’t know how many are supported by Roboto.

[2020-03-02 16:50] dberlow opened #50 "Pre-Diet Build is complete"
The font requested before the current round of glyph reductions, is now ready for testing visual compatibility.

Font hinting complies cleanly in VTT with no errors/warnings. All glyphs hinted, checked, mostly re-hinted*, to ensure correct use of CVT’S for height alignments. GASP set to use Hinting and smoothing above 9ppem. Matches Shipping Roboto. Hinted Heights (Cap/x-height/ascender/descender)

[2020-03-11 16:06] davelab6 commented on #16
@m4rc1e please could you update this issue with the latest requirements. You mentioned on a call that the build isn't repeatable, for example.

[2020-03-11 16:16] m4rc1e commented on #16
If we want this to be production ready so it can replace the original Roboto [repo](https://github.com/google/roboto), we still need the following:

- STAT tables (use [statmake](https://github.com/daltonmaag/statmake))
- Ability to build, web, android sibling families.
- Repo cleanup. VTT hints should be stored as xml. There should be a single set of sources.
- A Build chain which will automatica

[2020-03-11 16:22] m4rc1e commented on #50
From what I've seen, the hinting looks very good. I'm more concerned that we cannot get repeatable results. I've [outlined](https://github.com/TypeNetwork/Roboto/issues/16#issuecomment-597727472) what we need before I can thoroughly inspect the fonts.

[2020-03-12 14:29] davelab6 commented on #50
We require the hints compile with fontmake via vttLib

[2020-03-12 15:08] davelab6 commented on #16
@m4rc1e what is the issue with the OS/2 table? You were seeing different line heights on Chrome 69 or something?

[2020-03-12 15:08] dberlow commented on #50
Vtt to product.

Font Bureau has been asked to provide an updated build script for Roboto that can run from vtt sources to generate font binaries with no manual intervention.

We are developing a single build script that starts with complete vtt sources and ends with a minimal size variable ttf, and should be repeatable with some issues mentioned below.

Some terms.
Vtt source = a vtt file that co

[2020-03-13 00:29] sannorozco commented on #16
Hallo @m4rc1e, I’ve managed to integrate vttlib into the build, but I’m having an issue with the compiling step, I’m getting this. KeyError: 'SOFFSET'

So I was wondering if you have a requirements.txt of your virtualenv, to compare with the one on this repo?

Have you encounter this error before?

Thanks!

[2020-03-13 09:05] m4rc1e commented on #16
The 'SOFFSET' instruction is used for transformed components. `gftools check-vtt-compile` will tell you all the glyphs which vttLib cannot compile due to this issue. These glyphs should be decomposed then rehinted.

[2020-03-14 00:15] sannorozco commented on #16
We now compile hints via vttLib, Thank you for your insight.

[2020-03-17 13:59] dberlow opened #52 "Roboto Stat Table"
Please advise here that styles shown bold are to be in stat table, and any others.

Shared:
https://docs.google.com/document/d/105taihvuc3CA_qPi4G1-7A1v5QmMSJ6dBwXmpBrrdTA/edit?usp=sharing

[2020-03-18 13:08] davelab6 opened #53 "Move slnt to ital"
For clear backwards compatibility, the oblique designs should use the `ital` axis, instead of `slnt`, and change the range from `-11..0` to `0.0..1.0`

[2020-03-18 13:15] davelab6 opened #54 "Final release filename"
The filename should be `Roboto[ital,wdth,wght].ttf`

[2020-03-18 13:24] davelab6 commented on #52
36 styles: 9 weights, 100 .. 900, in both normal and condensed, for roman and italic.

[2020-03-18 13:35] davelab6 opened #55 "Clean up repo"
@m4rc1e please can you point to the best docs on what we expect in terms of repo hygiene? :)

[2020-03-18 13:44] dberlow opened #56 "Roboto[wght,wdth,ital].ttf gasp table"
There are two choices,
1. the original from Roboto-Regular.ttf
2. the recommended one that's been used since VTT was employed.

The gasp table is being copied into the font by script using ttx, after the vf is build, and before it's hinted.

Gasp table 2 above is currently used, but it's a simple change if on review it's not desired.

[2020-03-18 13:47] dberlow opened #57 "Roboto[wght,wdth,ital].ttf maxp table"
The maxp table is calculated by VTT based on the final hinted vf, but is not among the XML output.

So, if i understand correctly, the script that builds the final font must use TTX to copy this table from the hinted VTT file, to the final vf.

[2020-03-18 14:05] dberlow commented on #52
I've updated this for nine weights of Normal and Italic, Condensed and Itailc
Looking for
1. style name for 300, between Thin and Regular,
2. confirmation of SemiBold=600, ExtraBold=800.

[2020-03-18 14:08] davelab6 commented on #52
300 = Light

[2020-03-18 14:13] davelab6 commented on #52
I updated the Google Doc

[2020-03-18 19:53] dberlow commented on #52
I've completed the changes to the Google Doc, and believe it's definitive for Santiago's use.

Please confirm, thanks.

[2020-03-19 05:46] sannorozco commented on #57
This is fixed and implemented in build

[2020-03-19 05:46] #57 closed

[2020-03-19 05:46] sannorozco commented on #56
This is fixed and implemented in build, option 1

[2020-03-19 05:46] #56 closed

[2020-03-19 05:46] sannorozco commented on #55
Cleaned up repo in branch “delivery-review”

[2020-03-19 05:47] sannorozco commented on #54
This is fixed and implemented in build, branch “delivery review”

[2020-03-19 05:47] #54 closed

[2020-03-19 05:47] sannorozco commented on #53
This is fixed and implemented in build, branch “delivery-review”

[2020-03-19 05:47] #53 closed

[2020-03-19 05:48] sannorozco commented on #52
This is still in the works, still not getting it right.

[2020-03-19 10:34] m4rc1e commented on #55
Thank you for making the changes in a new branch and not the new repo.

Please could you make sure the new branch look similar to [Inconsolata](https://github.com/googlefonts/Inconsolata). This repo will have the following structure once it's done.

[code]

[2020-03-19 11:18] m4rc1e opened #58 "Clean up build-min.sh"
@sannorozco please can you submit your commits as pull requests going forward. This gives me a better way to review what we're doing.

I've just taken a quick look at the build-min. The fonts build which is great but we should make it neater.

Here are some quick changes I'd make:

Current:

[code]

New:

[code]

Current:

[code]

New:

We have a gftools script for this.

[code]

Current:

[code]

[2020-03-19 11:21] m4rc1e commented on #58
It may also make things cleaner to make `fonts/Roboto[ital,wdth,wght].ttf` a variable e.g `VF_OUT=fonts/Roboto[ital,wdth,wght].ttf`.

We can then use this for each tool e.g `fontmake -m Roboto-min.designspace --output-path $VF_OUT`

[2020-03-19 11:28] m4rc1e commented on #58
Roboto classic uses a makefile which allows users to build different font sets. We should have similar functionality with an identical interface if we want to make this project a true replacement.

[2020-03-19 12:20] m4rc1e opened #59 "Composites are blank"
In branch delivery-review. The composites are not showing

<img width="1254" alt="Screenshot 2020-03-19 at 12 18 55" src="https://user-images.githubusercontent.com/7525512/77066894-e93c0300-69db-11ea-95f1-a389c18d7b1d.png">

It may be the vttLib transfer or the maxp step which is causing this.

[2020-03-19 12:33] m4rc1e commented on #59
Ok, the VTT source, https://github.com/TypeNetwork/Roboto/blob/delivery-review/HintingSource/VTTSourceRoboto-min-VF.ttf has the same issue.

If I check Mike's original hinted source, https://github.com/TypeNetwork/Roboto/blob/master/Hinted%20VTT/MD%20Hints/Sources/RobotoVTTSources/VTTSourceRoboto-min-VF.ttf it also has the same issue. Please update the hint source so the composites are hinted. Thi

[2020-03-19 12:36] sannorozco commented on #59
Hallo Mark,

These blank composites are the ones we removen in our “diet” test for
Harfbuzz, so this is intentional.

On Thu 19 Mar 2020 at 6:34 Marc Foley <notifications@github.com> wrote:

--
Santiago Orozco
Typemade

[2020-03-19 12:42] m4rc1e commented on #59
ok cool :-)

If we do include a diet build, why not just use pyftsubset to remove all the composites?

tbh, I don't think this build diet is going to work. I can see it failing in many situations and we'll end up with another Montserrat gate.

For the delivery-review branch, I'd like us to use the non-diet files.

[2020-03-19 13:28] dberlow commented on #59
The composite situation can be changed.

When it was suggested we do this, we suggested it be done by subsetting
afterwards, as needed.

To back up, put the composites back in, and make either a build without
them, or a build they can be subset out of, may take a few work days, and
we'll start at 9:30 with a meeting on it.

Thanks..

On Thu, Mar 19, 2020 at 8:37 AM Santiago Orozco <notifications@g

[2020-03-20 10:40] m4rc1e commented on #46
I've removed all composite glyphs which have a unicode decomposition for Roboto Regular Hinted. The file is around ~8% smaller when we factor in all other pyftsubset optimisations.

For Chrome and modern browsers, the results are ok. There are some mark positioning issues but these can be solved.

Internet Explorer 11 is a mess.

If we do go ahead with this diet idea, imo it has to be done by the

[2020-03-20 12:39] m4rc1e commented on #46
I've made a minimal test case for those who are interested.

**OS X tests:**

<img width="424" alt="OSX_chrome_80" src="https://user-images.githubusercontent.com/7525512/77164032-4e105f80-6aa7-11ea-962c-8b396345a644.png">

*Chrome*

<img width="375" alt="OSX_safari_13" src="https://user-images.githubusercontent.com/7525512/77164043-549ed700-6aa7-11ea-9768-098cedff309e.png">

*Safari*

---

**Win t

[2020-03-20 14:23] dberlow opened #60 "Index remapping"
Can this work?

Target xml file = an unhinted vf with the final glyph compliment and index order.

Source xml file = hinted vf with additional empty glyphs and index order different from the target

XML of each glyph contains sequential index numbers, the “glyph Id” and “Unicode Id”.

Begin with glyph Id 0 of target xml file

If Unicode of glyph id 0 in target = Unicode of glyph id 0 in source

Co

[2020-03-26 14:51] davelab6 commented on #46
@rsheeter can you provide a way for @m4rc1e to reproduce the filesize increase you found when adding the Yoruba characters that appears unique to Roboto statics?

The work being done in this thread is in response to that concern, but since this is taking much longer to complete than anticipated, I would like to decouple the two tasks:

* ship Roboto Classic to get the VF filesize savings, and

* s

[2020-03-26 14:52] davelab6 commented on #60
@sannorozco said on a call yesterday this is working well. What's needed to wrap this issue?

[2020-03-26 14:54] sannorozco commented on #60
Not yet, wrapping up writing new XML with new instructions.

On Thu 26 Mar 2020 at 8:53 Dave Crossland <notifications@github.com> wrote:

--
Santiago Orozco
Typemade

[2020-03-26 14:56] davelab6 commented on #46
On a 1/1 call just now, @m4rc1e also proposed that perhaps its better to do the diet'ing like https://github.com/twardoch/ttfdiet as a post-processing step, which is therefore applicable to any font project, and not in source files - since pyftsubset retains hinting

So, we probably need to checkout the current master into a holding 'diet' branch, then revert to the last commit before the diet eff

[2020-03-26 15:31] davelab6 commented on #46
Ah, @rsheeter pointed out that the information required to do this is already on this thread, in 2 parts. I wrote,

and Rod wrote,

Rod also wrote earlier,

So, to move forward, I propose that @sannorozco and @dberlow take a step back and research how is Open Sans constructed so that adding the 6 characters does not increase the filesize by ~20%, and apply Marc's minimal test case to Open Sans to

[2020-03-26 20:56] dberlow commented on #46
When i open Open Sans in Robofont, all the composites are there, and it has
a MUCH SMALLER glyph repertoire than Roboto.

So,

Where are the files that show Roboto increasing by 20% from the addition of
6 glyphs? who made them? How?

Santiago has dieted, and remapped the glyph indexes and it going to run a
test to make sure all the glyphs show up this time.

And, reverting to the pre-diet branch i

[2020-03-26 20:58] dberlow commented on #46
Enclosed is a compare of the two repertoires.

On Thu, Mar 26, 2020 at 4:56 PM David Berlow <dberlow@fontbureau.com> wrote:

[2020-03-27 15:19] davelab6 commented on #46
You can not attach files via email, as you tried here - you must visit the https://github.com/TypeNetwork/Roboto/issues/46 page and drag and drop the files into your comment.

[2020-03-27 15:22] davelab6 commented on #46
6 glyphs? who made them? How?

The files were not shared, but the command line to reproduce them has been shared, so I am requesting that you/santiago (re)make them, so that you can be sure how they were made and fully investigate and compare.

Understood. Let's roll forwards!

to and that's open source.

After looking at the code (https://github.com/TypeNetwork/Roboto/blob/delivery-review/Scripts

[2020-03-27 15:29] davelab6 opened #61 "Package mapper-VTT-gids.py for reuse"
In #46 this project demanded a script to rearrange VTT XML glyph indexes, which is current [mapper-VTT-gids.py](https://github.com/TypeNetwork/Roboto/blob/6f96c730cdc49ca78d934cdc72c3fe217560ae5a/Scripts/mapper-VTT-gids.py)

Rearranging VTT XML glyph indexes is a common task when dealing with VTT projects, because VTT itself uses GID Order although vttLib does not.

Therefore, it would be good to

[2020-03-27 15:59] dberlow commented on #46
Where is,the command line please?

Glyph repertoires below.
<img width="1183" alt="Screen Shot 2020-03-26 at 4 30 13 PM" src="https://user-images.githubusercontent.com/1956494/77775087-7279b800-7022-11ea-9d9c-90718b2ea186.png">

<img width="1384" alt="Screen Shot 2020-03-26 at 4 30 36 PM" src="https://user-images.githubusercontent.com/1956494/77775054-655cc900-7022-11ea-8e51-6e2ef6f7d872.png">

[2020-03-30 22:05] #60 closed

[2020-03-30 22:05] #58 closed

[2020-03-30 22:08] #55 closed

[2020-03-30 22:16] #59 closed

[2020-03-30 22:16] #50 closed

[2020-03-30 22:16] #48 closed

[2020-03-30 22:16] #49 closed

[2020-03-30 22:17] #45 closed

[2020-03-31 12:40] dberlow opened #62 "Delivery complete"
Marc and Dave,

I, Mike and Santiago believe we’ve delivered.

We’re standing by for any comments, questions or requests.

Cheers,
David

[2020-03-31 15:03] m4rc1e commented on #62
Please don't merge any wip work into the master branch until it's been reviewed. We now have a master that can't build properly.

@sannorozco We've hit a couple of errors. Please do the following:

- include `gftools` in the requirements.txt file (stops fonts from being built)
- Include `sources/Roboto-min.stylespace` (stops fonts from being built)
- Remove `sources/HintingSource`. `sources/vtt-hi

[2020-03-31 15:16] sannorozco commented on #62
@m4rc1e updated repo with these fixes. Let me know if more is needed.

[2020-04-01 12:36] davelab6 commented on #46
I explain how to construct the command here, https://github.com/TypeNetwork/Roboto/issues/46#issuecomment-604497986

[2020-04-01 12:39] davelab6 commented on #39
This seems to be something that will need to be done in a general purpose, algorithmic way. However, my guess is that I don't want to prioritize this over more important projects, so closing for now.

[2020-04-01 12:39] #39 closed

[2020-04-01 12:39] davelab6 commented on #38
@m4rc1e are all the above issues fixed? If yes please close

[2020-04-01 12:43] m4rc1e commented on #38
I'm on it. Please be patient

[2020-04-01 13:11] dberlow commented on #39
Agreed. Coincidentally, solving it was one of my last ideas yesterday.
We’ll try it on the upcoming hints of extremo and if that works it’s likely to ttx copy/paste into other fonts that use vtt autohint.

﻿
This seems to be something that will need to be done in a general purpose, algorithmic way. However, my guess is that I don't want to prioritize this over more important projects, so closing f

[2020-04-01 14:00] m4rc1e commented on #62
• Delete https://github.com/TypeNetwork/Roboto/blob/master/OFL.txt.
• In `docs/` the dirs `Compare/`, `Hinted VTT/` and `Roboto Hinted Instances/` are redundant + they're not docs. They should be deleted
• `fonts/Roboto-vf.ttf` is 2 years old. Is this an old font we've forgotten to delete?

[2020-04-01 14:22] sannorozco commented on #62
- Deleted OFL.txt and dirs.

- About `fonts/Roboto-vf.ttf`, this VF has been there since the beginning, I believe it’s for comparison with the current Roboto? And the new is the improved. So confirming, is it ok with you if deleted?

[2020-04-01 14:30] m4rc1e opened #63 "STAT table is incorrect"
Each instance has the ElidableAxisValueName flag set and they all have linked values.

Please see how the ElidableAxisValueName and linked values are used in this [.stylespace](https://github.com/googlefonts/Inconsolata/pull/44/files#diff-4ee49a0663a93442fdcc6a1213fd37ca)

[2020-04-01 14:34] m4rc1e commented on #62
I don't use it for comparisons. I use the tagged fonts in google/roboto, https://github.com/google/roboto/releases/tag/v2.136

[2020-04-01 16:12] sannorozco commented on #63
Updated

[2020-04-01 16:32] dberlow commented on #62
As far as I know, fonts/Roboto-vf.ttf Should be deleted.

﻿
I believe it’s for comparison with the current Roboto?

I don't use it for comparisons. I use the tagged fonts in google/roboto, https://github.com/google/roboto/releases/tag/v2.136

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-04-02 09:54] m4rc1e commented on #61
vttLib already transfer hints by glyph name so we don't need this script.

[2020-04-02 13:56] m4rc1e commented on #46
The original Roboto has a dedicated webfont family which is produced by post processing the master fonts. This is the version of Roboto we use on Google Fonts.

If I run the post processing scripts which creates this family on our VFs, we get a file size of 900kb. The static ttfs we currently serve are 2.1mb. Imo, this is a massive win.

cc @rsheeter @davelab6

[2020-04-03 16:47] #63 closed

[2020-04-03 16:47] #62 closed

[2020-04-17 10:55] davelab6 commented on #52
Per https://twitter.com/axis_praxis/status/1250818656281464838?s=19 I'd like to revisit this

[2020-04-18 13:26] thlinard commented on #52
https://github.com/google/fonts/issues/2391 could be helpful.

[2020-05-06 02:46] davelab6 opened #66 "Assuming no other changes are needed, rerelease as Apache, then as OFL"
After discussion with @rsheeter today I'd like to request @m4rc1e make 2 new minor version releases, to make the work involved in shipping this in the GF API easier to manage.

First, one that that takes the latest release and only changes the license metadata back to Apache.

Then, another one that changes the license metadata back again to OFL; but, we should hold off on making this until we've

[2020-05-11 18:36] staghouse opened #67 "License | Update for clarity"
It is not clear what License this project and fonts are actually covered under. The README says Apache but the repo has a OFL license as well.

[2020-05-28 12:48] m4rc1e opened #69 "Mark positioning for certain soft-dotted characters failing"
Issue is similar to https://github.com/googlefonts/noto-fonts/issues/418 however the characters are getting decomposed correctly.

the issue is the mark placement isn't working for several of the dotless glyphs.

<img width="850" alt="Screenshot 2020-05-28 at 13 47 11" src="https://user-images.githubusercontent.com/7525512/83143414-d20b4700-a0e9-11ea-82e5-5a219cda9f7c.png">

I'll dig into this.

[2020-05-28 15:05] m4rc1e commented on #69
Solved it. These glyphs need to be included in the GDEF section of each feature file.

[2020-06-09 10:31] m4rc1e opened #70 "Some glyphs do not have hints"
The following glyphs don't have VTT hints:
'.notdef', 'uni0488', 'uni0489', 'lessequal', 'greaterequal', 'uniFFFC', 'uniFFFD'

cc @mikedug

[2020-06-09 11:12] mikedug commented on #70
hi Marc
for some glyphs, because I was mindful of file size, and because of the complex nature of the glyphs, I did not include hinting. Less equal and greaterequal should have hints, this is a bug

**.notdef =** This glyph renders ok, without hints. I can update to add hinting
**uni0488 =** COMBINING CYRILLIC HUNDRED THOUSANDS SIGN. This is a complex glyph shape, that requires a lot of hinting co

[2020-06-09 11:16] m4rc1e commented on #70
Thanks for the info. I'm happy to keep the glyphs you mentioned unhinted.

Please hint lessequal and greaterequal in an existing ttf and open a PR containing the font. I'll then extract the hints and include them in the vtt-hinting.ttx file.

[2020-06-09 12:07] mikedug commented on #70
I have updated the hints and opened a PR. Added hinting to uni 2264 and 2265 Please let me know if when this is successfully updated from your side

[2020-06-10 09:23] m4rc1e commented on #70
Thanks, hints in #71 look good.

[2020-06-10 09:23] #70 closed

[2020-06-10 09:28] #69 closed

[2020-06-12 19:39] marekjez86 opened #72 "Android Wear needs a "skinny" version of Roboto VF"
Android Wear needs a "skinny" version of Roboto.
Currently they use only four instances (no condensed):
   Roboto-Regular.ttf \
    Roboto-Bold.ttf \
    Roboto-Italic.ttf \
    Roboto-BoldItalic.ttf

Could you come up with a Roboto VF without condensed, with weight from 400 through 700, and full italics? I wanted to see if it is possible to be below or close to about 1.3MB in the "skinny" Roboto

[2020-06-12 19:54] davelab6 commented on #72
I would prefer to do this as a `fonttools varLib.instancer` post processing step, than a 2nd build path from source.

@m4rc1e do you have a preference?

[2020-06-12 20:28] dberlow commented on #72
Awaiting any instructions that we might execute to help.

On Fri, Jun 12, 2020 at 3:55 PM Dave Crossland <notifications@github.com>
wrote:

[2020-06-13 13:58] marekjez86 commented on #72
Initially I'd like to get to examine all three variants:
1. Roboto VF without condensed, with weight from 400 through 700, and italics (full range)
2. two Roboto VFs without condensed, with weight from 400 through 700 - one ital=0 and one ital=1
3. 4 instances Roboto-Regular.ttf, Roboto-Bold.ttf, Roboto-Italic.ttf and Roboto-BoldItalic.ttf

with 1. being the most desirable font to give Wear and ch

[2020-06-29 19:47] davelab6 commented on #67
@staghouse sorry my delay on this. This project is OFL.

[2020-06-29 19:56] davelab6 opened #75 "TTF file gone for a walk"
`sources/master_ttf/Roboto-Regular.ttf` should be `/fonts/Roboto[ital,wdth,wght].ttf` :)

[2020-06-29 21:06] davelab6 commented on #67
Actually, sorry, I forgot that since the Google Fonts eng team wanted to publish this font with the VF axes and then do the OFL upgrade, that will come later. I'll make a PR to update the README

[2020-06-29 21:37] davelab6 opened #77 "Upgrading design quality of Greek and Cyrillic (v4)"
I believe the Greek and Cyrillic typeface design quality of Roboto can subjectively be improved; the Greek more than the Cyrillic.

Schedule wise, I think this should happen and ship in this project repo before happening in https://github.com/TypeNetwork/Roboto-Flex, and therefore redrawing these ('Classic') masters should happen with the intent they be sized for 14 Point (actual/physical) such th

[2020-06-30 00:57] staghouse commented on #67
Thanks for the update!

[2020-06-30 10:43] m4rc1e commented on #75
This was intentional, https://github.com/TypeNetwork/Roboto/pull/74#issue-436534133. I do not want anyone committing binaries themselves to this repo. I only trust the fonts which are generated by the CI.

Speaking of releases, I've finally tagged [v.3000](https://github.com/TypeNetwork/Roboto/releases/tag/v3.000). I also want us to keep fonts tagged for this project since it allows us to write re

[2020-06-30 12:38] dberlow commented on #77
Roboto Classic's Greek and Cyrillic replacements are best provided as a subset of Flex's development, as Classic's design space is a subset of Flex.

So, Flex's 14 pt extremes can be drawn, trimmed to Classic's space, move into Classic, and continued from there while Flex awaits Classics's completion, ready to move on to completion of Greek and Cyrillic's opsz axis.

The other way,  drawing the Cl

[2020-07-27 20:54] dberlow commented on #77
Dave,

The design work (#1a), on this, has commenced.

The production target is a merge with the existing Classic repo and process, leaving a script to build a new font including improved greek.

The plan:
1. Irene [irenevl] is designing the Regular [400wght ,100wdth], (which matches Flex).
   a. so that is going on in Flex,
   b. the greek-only will be copied into a brach of Classic, replacing th

[2020-08-18 12:45] mikedug opened #78 "New Greek Design metrics query?"
In preparation to add Hinting to the new Greek designs, I noted that as well as the shape updates, there are some metrics/advance width changes in the new Greek designs?

I wanted to check before we go further with the hinting, that advance width changes are expected? I seem to recall that the idea was to match the metrics of Roboto static 100%?

Example:

Shipping Roboto static
Lowercase ‘lambda’

[2020-08-18 13:07] dberlow commented on #78
Dave, Mark: Is it okay for the metrics of the replacement Greek, to vary in widths, from the original Roboto regular Greek metrics?

[2020-08-23 22:23] thlinard opened #80 "Mathematical signs are misaligned"
The horizontal bar of + − ÷ should be the same, and aligned vertically (in the middle) with × =.

Particularly visible for the Thin weight:
<img width="564" alt="Roboto Thin" src="https://user-images.githubusercontent.com/13808824/90990165-7db81c00-e59f-11ea-99c3-a3e88068a058.png">

Additionally, the × has display issues at certain sizes or zoom. Example with the Regular:
<img width="645" alt="Rob

[2020-08-24 10:45] dberlow commented on #78
Everything is stopped here, waiting for an answer on Greek widths.

[2020-08-24 13:14] davelab6 commented on #80
@thlinard thanks for reporting this; which exact font files are you looking at to see this?

@dberlow points out `<` and `>` are different widths... And he and his team will fix all such issues. Please do report :)

Unlike what I said in https://github.com/TypeNetwork/Roboto-Flex/issues/116#issuecomment-679117657 though, we will need to take care that these glyphs retain the same advance widths, b

[2020-08-24 13:15] davelab6 commented on #80
(I just spoke on the phone to @dberlow about this and he is also very grateful for your report, and will fix anything you can point at :)

[2020-08-24 13:52] mikedug commented on #80
just to add, I have not seen, nor can I repro the broken multiply sign in the Variable Roboto.

Thomas, can I ask, which font is showing this problem? Is the illustration you show, the Roboto Regular font rendering in InDesign?

[2020-08-24 13:56] m4rc1e commented on #80
I think it's a rasteriser issue in Indesign, nothing to do with the font per se.

[2020-08-24 14:39] pichotta commented on #80
The /multiply might have an issue with the start point in the wdth axis. I can re-create it in typetools.typenetwork.com using a combination of wdth and opsz.

<img width="828" alt="RobotoFlex multiply" src="https://user-images.githubusercontent.com/6576107/91058145-2002ee80-e5f6-11ea-988f-95f1387079fb.png">

[2020-08-24 14:56] thlinard commented on #80
My version is Roboto VF 3.002: https://github.com/google/fonts/tree/master/apache/roboto

I'm not very concerned with the display bug in InDesign: some fonts manage to work around it, if you can do that too, fine, otherwise too bad.

On the other hand the bad alignment worries me more.

[2020-08-24 15:00] m4rc1e commented on #80
I'm not too concerned about this issue atm. The current v2.138 static fonts also have the same issue:

<img width="283" alt="Screenshot 2020-08-24 at 15 58 49" src="https://user-images.githubusercontent.com/7525512/91060388-ca910680-e622-11ea-8b24-49f4305d6daf.png">

https://fonts.google.com/specimen/Roboto?preview.text=%C3%97%C3%B7%E2%88%92&preview.text_type=custom

Not saying this issue shouldn'

[2020-08-24 15:16] thlinard commented on #80
It's up to you to decide which priority to give to the problem, but here is a more complete exposition, with ×<>+÷−¬=≠±≤≥.

Roboto Thin:
<img width="771" alt="Roboto Thin" src="https://user-images.githubusercontent.com/13808824/91062507-13e65380-e62d-11ea-80ec-394ec533a118.png">

Roboto Black:
<img width="771" alt="Roboto Black" src="https://user-images.githubusercontent.com/13808824/91062516-18ab

[2020-08-24 15:21] thlinard commented on #80
The same example in Encode Sans VF 3.002 (default or `lnum` feature) https://github.com/google/fonts/tree/master/ofl/encodesans

<img width="804" alt="Encode Sans" src="https://user-images.githubusercontent.com/13808824/91063368-32991a00-e62e-11ea-9bdb-4a00c3211cbb.png">

[2020-08-24 15:28] dberlow commented on #80
That’s In flex Jill, thanks, I’m on it.

On Aug 24, 2020, at 10:40 AM, pichotta <notifications@github.com> wrote:

﻿
The /multiply might have an issue with the start point in the wdth axis. I can re-create it in typetools.typenetwork.com using a combination of wdth and opsz.

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-08-25 15:57] m4rc1e opened #81 "Build broken"
Latest commit https://github.com/TypeNetwork/Roboto/commit/e35e4c071d4c6fe235b900ee3aecf11321f785cc has broken the build. When running `sh sources/build.sh`, I get the following traceback:

[code]

Please don't push to master! make your changes on a new branch and open a PR.

We have a CI/CD which will build and test the fonts for each PR. If we had done these changes in a PR, we wouldn't have mer

[2020-08-25 16:13] sannorozco commented on #81
PR ready for review, fixed plist conflict

[2020-09-12 22:44] rsheeter commented on #75
Might want to remove the reference to /fonts from the home readme since /fonts seems not to exist anymore.

[2020-09-12 23:01] davelab6 opened #83 "Repo Clarity"
I think the repo could become more clear about what is where and what for :)

- [ ] directory structure/layout
- [ ] GitHub project setup
- [ ] README in each important directory

[2020-11-10 13:37] m4rc1e opened #85 "Github actions: Run diffenator and diffbrowsers on pull requests"
To catch regressions, Github Actions should run diffenator and diffbrowsers. The action could take the generated fonts and diff them against the last tagged release.

[2020-11-10 13:37] #81 closed

[2020-11-10 13:38] m4rc1e commented on #52
Stat was update in #79

[2020-11-10 13:38] #52 closed

[2020-11-11 05:12] davelab6 commented on #75
Fixed https://github.com/TypeNetwork/Roboto/commit/3acbbb0e841a09d2642f3b95f847cd89542af8eb

[2020-11-11 05:12] #75 closed

[2020-11-11 05:14] davelab6 commented on #67
Readme says Apache, closing

[2020-11-11 05:14] #67 closed

[2020-11-11 05:15] davelab6 commented on #72
@marekjez86 were you able to use `fonttools varLib.instancer` to create these comparisons? :)

[2020-11-11 05:30] marekjez86 commented on #72
I haven't compared anything ... I'm not sure what you want to get but here
are two commands I use

Note that Noto variable fonts have either both width, wght axis or only wght

$i is the name of the variable font file
-o is the output path (slim-no-wdth and slim-drop are two names of my
directories, but you can pick whatever you want -- I have both because I
ran it through all of my variable fonts

[2020-11-11 12:47] m4rc1e opened #86 "Mark glyphs with incorrect contour directions"
If a mark glyph is used a component in another glyph and its contour orientation differs from the base glyph, the marks will appear lighter in OS X. For this family, I can see that the [double grave accent's](https://www.fileformat.info/info/unicode/char/030f/index.htm) has this issue (there may be more).

![roboto1](https://user-images.githubusercontent.com/7525512/98812329-2f861c80-241a-11eb-9cb

[2020-11-11 13:41] dberlow commented on #86
According to the sources, (U+030F) reversal includes Roman and italic.

[2020-11-11 14:17] mikedug commented on #86
the contours for (U+030F) , compared to Unicode 0210, look to be the same orientation in VTT in the Roboto Variable. Am I missing something?[]
![0X30F](https://user-images.githubusercontent.com/55890745/98822328-9dd1db80-2428-11eb-8805-5417ad7ed578.png)
(url)

[2020-11-11 14:28] m4rc1e commented on #86
If we inspect uni210, the base component "R" is anticlockwise, whilst the mark component "double tilde" is clockwise.

[2020-11-11 14:32] mikedug commented on #86
ok, thanks. I see the R as clockwise and the accent as anti-clockwise, in the illustration above.

[2020-11-11 15:03] davelab6 commented on #77
from @dberlow

The repaired math is one level up.
https://github.com/TypeNetwork/Roboto/tree/NeoClassic/sources/Berlow's%20Math%20ideal%20corrections

Good question! :) Assigning to me, I guess this will not be decided until January

[2020-11-12 15:44] davelab6 commented on #86
But, either way, they are opposite directions, but they should be the same directions.

@m4rc1e please can you file a fontbakery issue to check for this?

[2020-11-12 16:05] dberlow commented on #86
If these need to be fixed by FB, let me know.

On Thu, Nov 12, 2020 at 10:44 AM Dave Crossland <notifications@github.com>
wrote:

[2020-11-12 16:29] davelab6 commented on #86
I believe this is a minor production issue, which will take Marc 4-8 hours to do, and so with other high priority FB projects going on, its best for Marc to do :)

[2020-12-04 19:07] #86 closed

[2020-12-04 19:08] m4rc1e commented on #85
Implemented in #88

[2020-12-04 19:08] #85 closed

[2020-12-04 19:29] m4rc1e opened #90 "Roboto v3 web vs v2.138 web advance widths"
This version of Roboto v3 has different glyph metrics for the Italic webfonts, when compared against the v2 Italic webfonts.

If I inspect [Roboto v2](https://github.com/googlefonts/roboto), the webfonts do not have the same glyph metrics as the unhinted and android sets. This may have happened because Roboto v2 went through a series of design updates, such as adding better Italics and it was deem

[2020-12-07 15:50] m4rc1e commented on #90
I just compared the "χ" (chi) in v2 web family against v3 web family. It appears that the v2 web is faulty.

<img width="280" alt="Screenshot 2020-12-07 at 15 38 39" src="https://user-images.githubusercontent.com/7525512/101371219-67aa3f00-38a2-11eb-8ce1-b6008a59a3fa.png">

_v2: right sidebearing is too tight_

<img width="322" alt="Screenshot 2020-12-07 at 15 41 29" src="https://user-images.githu

[2021-05-13 13:42] thlinard opened #91 "Add a SemiBold entry in STAT (like in fvar)"
See google/fonts#3267

[2022-01-09 19:39] Cogli opened #93 "Hinted, unhinted, web, etc. reccomendations"
Given that differents binaries are supplied, are there some sort of reccomendations for their usage? Their names are all quite self-descriptive, but are there really any issues if, for instance, web version is used for dektop publishing? I reckon metrics are different and some POS features are offs, but in what environment or for what script this can cause problems?

As a last doubt, and to appeas

[2022-03-25 04:33] davelab6 opened #94 "Per glyph overlap bit setting chore"
In investigating https://github.com/google/fonts/issues/4405
 @bungeman said,

We'll need this in the next point release.

Assigning to Marc although I guess this will fall on dear @Sannorozco who with @dberlow has lost access to the repo during the recent org change

Also posted the same issue on the successor project, https://github.com/googlefonts/roboto-flex/issues/327

[2022-06-23 18:45] davelab6 opened #95 "Add linefeed character"
Roboto is the bottom fallback font in Android and the canvas API rendering \n with 🩵 (tofu) is a regression introduced in Android 33.

A solution can be to add the linefeed character to Roboto.

[2022-07-06 18:48] davelab6 opened #97 "Missing cmap entries for superscript, subscript digits"
B/213345773 was reported internally that Roboto is Missing cmap entries for superscript, subscript digits

[2022-07-06 19:12] kpozin commented on #97
The `subs` and `sups` table entries are also missing for these glyphs; they're only present in `numr` and `dnom`.

[2022-07-06 23:18] chrissimpkins opened #98 "Add non-printable ASCII control characters mapped to empty glyph"
Related #95 #96

Please add the full range of non-printable control character encodings (U+0000 to U+001F) mapped to a zero adv width, empty (no outline) glyph.  These glyphs should be available in the variable font and static font format builds in order to work around the font fallback tofu issue that Dave raised in #95.

[2022-07-06 23:22] chrissimpkins opened #99 "Add CI regression test for presence of non-printable ASCII control characters"
Request from the Android Text team. Please add a test in the GHA CI to confirm that we do not regress on the presence of the non-printable ASCII control character glyphs that will be added to close #98.

Thanks!

[2022-07-26 00:15] davelab6 commented on #97
Thanks @kpozin :)

Full report

[2022-07-26 08:25] #98 closed

[2022-07-26 08:26] m4rc1e commented on #99
Fixed in #100

[2022-07-26 08:26] #99 closed

[2022-07-26 15:09] davelab6 commented on #97
I've requested a review from @kpozin 's team :)

[2022-07-26 16:06] kpozin commented on #97
The `cmap` changes look great, thanks!

It would be helpful to add `numr` and `dnom` tables, too, but that's less urgent.

[2022-07-26 16:09] kpozin commented on #97
Sorry, that's `subs` and `sups`.

[2022-08-13 11:10] ravid-dubsteper opened #102 "Consider type.today's cyrillic review"
https://type.today/ru/journal/neo#Roboto

[2022-08-13 14:38] dberlow commented on #102
Thank you for your interest in this topic. The link, however, is 2 years old or so, and since then a great deal of work was done to enhance the quality, functionality and performance for Cyrillic users of Roboto.

https://github.com/googlefonts/roboto-flex

Because of the need to maintain the widths of text in documents created with “classic”, is was not practical to make all the changes made in t

[2022-08-24 22:54] davelab6 commented on #97
@kpozin said,

@m4rc1e i guess this is a bug in the build script?

[2022-08-25 10:26] m4rc1e commented on #97
Ok, I've just seen that these glyphs are getting subsetted out of the webfonts. If I add them to the web subset list, https://github.com/googlefonts/roboto-classic/blob/master/scripts/web_subset.txt and regen, they're present. This is trivial to fix but it'll trigger the mac operations issue again.

@kpozin do you specifically need the webfonts? It seems that many teams are using the webfonts with

[2022-08-25 16:58] kpozin commented on #97
We've been using the webfonts because the other variants are nearly three times as large, and some of our target devices are very space-constrained.

I'm going to try to use a local build for now, until the operations issue can be fixed.

[2022-09-15 10:45] AzusaHana opened #104 "Report a bug. "ffi" only has a single weight when connected together."
![Screenshot_2022-09-15-18-34-20-47_8d485484d290ec17555e7acc83d01a83](https://user-images.githubusercontent.com/100906636/190384522-894681d6-45ee-4995-b20b-23f749e0b77e.jpg)

[2022-09-15 10:49] m4rc1e commented on #104
I'm not able to replicate this.

What set of fonts are you using and what's the platform?

[2022-09-15 11:17] AzusaHana commented on #104
Roboto_v3.005
OnePlus 8 Pro，Android 12 (OxygenOS)
I have this problem when I use this Roboto_v3.005 to make a magisk module.
Then I use the system Roboto font to replace, and there are multiple weights with the "ffi" displaying normally.

[2022-09-22 23:34] #104 closed